<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} - NFSW</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <script src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='nfsw.js') }}"></script>

        <section class="content">
            {% block content %}{% endblock %}
        </section>
    </body>
</html>
