{% extends 'base.html' %}

{% block title %}Terms{% endblock %}

{% block content %}

<div class="terms-grid">
    <div class="terms-grid-item">
        <article class="terms-block">
            <header>
                <h1>NFSW</h1>
            </header>

            <section class="terms">
                <header>
                    <h1>Terms &amp; Conditions</h1>
                </header>

                <p>NFSW will expose you to content that may be considered
                    unpalatable, offensive, rude, or crass.</p>

                <p>In no event unless required by applicable law will the
                    copyright holder be liable to you for damages, including
                    any general, special, psychological, incidental or
                    consequential damages arising out of playing NFSW,
                    even if the holder has been advised or is aware of the
                    possibility of such damages.</p>

                <div class="lastupdated">
                    <p>Last Updated on the 21<sup>st</sup> October 2019</p>
                </div>
            </section>

            <section class="privacy">
                <header>
                    <h1>Privacy Policy</h1>
                </header>

                <p>All your interactions with NFSW game or your &ldquo;game
                    state&rdquo; will be stashed in a temporary cache.</p>

                <p>The game server will also log your IP address
                    automatically each time you communicate with
                    it.</p>

                <p>Any data attributable to you will be stored
                    indefinitely on the game server. It will be purged
                    when the server gets obliterated by the janitor in
                    the first week of January 2020.</p>

                <div class="lastupdated">
                    <p>Last Updated on the 26<sup>nd</sup> October 2019</p>
                </div>
            </section>

            <form class="agree" method="post">
                <div class="form-group agree">
                    <label for="agree">
                        <input type="checkbox" id="agree"
                               name="agree"
                               class="agree" value="1">
                        I agree to the Terms &amp; Conditions and the Privacy
                        Policy.
                    </label>
                </div>

                <div class="button-group">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </article>
    </div>
</div>


{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='terms.css') }}">
{% endblock %}
