{% extends 'base.html' %}

{% block title %}Terms{% endblock %}

{% block content %}

<div class="terms-grid">
    <div class="terms-grid-item">
        <article class="terms-block">
            <header>
                <h1>NFSW</h1>
            </header>

            <section class="terms">
                <header>
                    <h1>Heads up!</h1>
                </header>

                <p>NFSW will expose you to content that may be considered
                    unpalatable, offensive, rude, or crass.</p>

                <p>In no event unless required by applicable law will
                    Santa be liable to you for damages, including any
                    general, special, psychological, incidental or
                    consequential damages arising out of playing NFSW,
                    even if he is aware of the possibility of such
                    damages.</p>

                <p>Santa hopes to take the game offline on the
                18<sup>th</sup> January 2020.</p>

                <div class="lastupdated">
                    <p>Last Updated on the 6<sup>th</sup> January 2020</p>
                </div>
            </section>

            <section class="privacy">
                <header>
                    <h1>Santa will be watching you</h1>
                </header>

                <p>All your interactions with NFSW game or your &ldquo;game
                    state&rdquo; will be stashed in a temporary cache.</p>

                <p>The game server will also log your IP address
                    automatically each time you communicate with
                    it.</p>

                <p>Any game data attributable to you might be stored
                    on the game server until the end of the
                    18<sup>th</sup> January 2020.</p>

                <p>Santa might indefinitely keep a record of your user
                name, your password hash, whether you read and agreed
                to this legal gobbledygook, and your last login date
                time.</p>

                <div class="lastupdated">
                    <p>Last Updated on the 6<sup>th</sup> January 2020</p>
                </div>
            </section>

            <form class="agree" method="post">
                <div class="form-group agree">
                    <label for="agree">
                        <input type="checkbox" id="agree"
                               name="agree"
                               class="agree" value="1">
                        I was made aware that the game might offend me
                        &amp; understand that Santa will me watching
                        my game.
                    </label>
                </div>

                <div class="button-group">
                    <input type="submit" value="Start NFSW!">
                </div>
            </form>
        </article>
    </div>
</div>


{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='terms.css') }}">
{% endblock %}
